[user]
	name = bjhdecember
	email = barbarajh1202@yahoo.com
[core]
	editor = code --wait --new-window
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
